<article>
 <header>
   <span class="date"><%= article.date %><%= link_to "raw", raw_path(article) %></span>
   <h1><%= article.header %></h1>
   <!-- Licensing here -->
 </header>
<%== article.html %>

<footer>
 Filed under
 <ul class="tags">
   <%= render article.taggings %>
 </ul>
</footer>
</article>
