<% provide(:title, article.title) %>
<article>
  <header>
    <span class="date"><%= article.date %><%= link_to "raw", raw_path(article) %></span>
    <h1><%= article.title %></h1>
    <!-- Licensing here -->
  </header>
<%== article.content %>

<footer>
  <section class="tags">
    Filed under <ul class="tags"><%= render article.tags %></ul>
  </section>
</footer>
</article>
