<article>
 <header>
   <span class="date"><%= article.date %></span>
   <h1><%= article.header %></h1>
   <span class="side"><%= link_to "raw", raw_path(article) %></span>
   <!-- Licensing here -->
 </header>
<%== article.html %>

<footer>
 <span>Filed under:</span>
 <ul>
   <%= render article.taggings %>
 </ul>
</footer>
</article>
