<!DOCTYPE html>
<html<%== page_class yield(:title).downcase %>>
 <head>
  <meta charset="utf-8">
  <title><%= page_title yield(:title) %></title>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application", media: 'all' %>
  <%= csrf_meta_tags %>
 </head>
 <body>
  <div class="c">
   <header class="hat">
    <h1>Segmentation Fault</h1>
    <nav>
     <ul class="lang-nav">
      <li><%= link_to 'English', root_path(nil), class: 'en' %></li>
      <li><%= link_to '日本語', root_path('ja'), class: 'ja' %></li>
     </ul>
     <a class="logo" href="/">
      <img src="/segfault.svg" alt="Segfault">
     </a>
     <ul class="main-nav">
      <li class="nav-home"><%= link_to "Home", root_path %>
      <li class="nav-about"><%= link_to "About", about_path %>
      <!--<li class="nav-portfolio"><%= link_to "Portfolio", portfolio_path %>-->
      <li><%= link_to "GitHub", 'https://www.github.com/alxbl' %>
      <li class="nav-resume"><%= link_to "Resume", resume_path %>
     </ul>
    </nav>
  </header>
  <div class="g"><!--
  --><div class="content">
