<!DOCTYPE html>
<html<%== page_class yield(:title).downcase %> ng-app>
 <head>
  <meta charset="utf-8">
  <title><%= page_title yield(:title) %></title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
  <link href="http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag "application", media: 'all' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
 </head>
 <body>
  <div class="c">
   <header class="hat">
    <h1>Segmentation Fault</h1>
    <nav>
     <ul class="lang-nav">
      <li><%= link_to 'English', url_for(locale: nil), class: 'en' %></li>
      <li><%= link_to '日本語', url_for(locale: :ja), class: 'ja' %></li>
     </ul>
     <%= link_to image_tag("/segfault.svg", alt: "Segfault"), root_path, class: 'logo' %>
     <ul class="main-nav">
      <li class="nav-home"><%= link_to (t "home"), root_path %>
      <li class="nav-about"><%= link_to (t "about"), about_path %>
      <!--<li class="nav-portfolio"><%= link_to (t "portfolio"), portfolio_path %>-->
      <li><%= link_to "GitHub", 'https://www.github.com/alxbl' %>
      <li class="nav-resume"><%= link_to (t "resume"), resume_path %>
     </ul>
    </nav>
  </header>
  <div class="g"><!--
  --><div class="content">
